.detail-user-container {
  img {
    margin-top: 20px;
    border-radius: 50%;
  }

  h1 {
    margin: 10px 0;
    color: green;
  }

  p {
    margin: 10px 0;
  }

  span {
    font-size: 20px;
    font-style: italic;
    cursor: pointer;
  }
}
