.list-user-content {
  max-width: 40%;
  align-items: flex-start;
  margin: 0 auto;

  .content-header {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;

    .header-search {
      input {
        padding: 10px 10px;
        border-radius: 5px;
        font-family: arial, sans-serif;
        font-size: 20px;
        margin-right: 10px;
      }
    }

    .header-option {
      float: right;
    }
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid bisque;
    text-align: left;
    padding: 8px;
  }

  td {
    cursor: pointer;
  }

  td:first-child,
  td:last-child {
    max-width: 100px;
  }

  tr:nth-child(even) {
    background-color: #ccc;
    color: #282c34;
  }

  //   img {
  //     height: 50px;
  //     width: 50px;
  //     border: 1px solid black;
  //     border-radius: 50%;
  //   }
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  font-family: arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.btn-add {
  background-color: #07bc0c;
  margin-right: 10px;
}

.btn-edit {
  margin-right: 10px;
  background-color: #f1c40f;
}

.btn-delete {
  background-color: #e74c3c;
}
